header {
    text-align: center;
    color: black;
    font-size: xx-large;
    font-family: 'Arial';
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }